* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 24px;
}

/* Home */

h1 {
  background-color: rgba(48, 161, 73, 0.2);
  text-align: center;
  padding: 16px;
  margin-bottom: 64px;
}

.recipes {
  width: 1300px;
  margin: 0 auto;
}

.recipes li {
  display: inline-block;
}

a {
  display: inline-block;
  background-color: rgba(48, 161, 73, 0.2);
  padding: 32px;
  color: black;
  font-weight: 700;
  text-decoration: none;
  margin: 0 24px;
}

.thumbnail {
  margin-bottom: 8px;

}

/* Recipe Page */

h2 {
  text-align: center;
  margin-bottom: 16px;
}

.recipe-img {
  display: block;
  margin: 32px auto;
}

.description {
  width: 700px;
  margin: 32px auto;
}

.container {
  width: 700px;
  background-color: rgba(48, 161, 73, 0.2);
  padding: 32px;
  margin: 32px auto;
}

.container li {
  list-style-type: none;
  margin-bottom: 16px;
}